.App {
  text-align: center;
}

.navbar{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

div.container1{
  display: flex;
  justify-content: flex-end;
}

div.container2{
  display: flex;
  justify-content: flex-end;
}

button{
  border-radius: 12px;
  /* width: 117px; */
  height: 38px;
  border: solid 1px #212529;
  background-color: white;
  color: black;
}

.btn-primary{
  background-color: white;
  color: black;
  border: solid 1px #212529;
  &:hover{
    background-color: black;
    color: white;  
    }
}

.row{
  display: grid;
  grid-template-columns: repeat(4,1fr);
  grid-row-gap: 35px;
  grid-column-gap: 25px;
}

.navbar>.container, .navbar>.container-fluid, .navbar>.container-lg, .navbar>.container-md, .navbar>.container-sm, .navbar>.container-xl, .navbar>.container-xxl {
  display: flex;
  justify-content: flex-end;
}

.checked {
  color: orange;
}

#navbar{
  position: fixed;
  width: 100vw;
  z-index: 1;
  
}
.card-img-top{
  width: 286px;
    height: 214px;
    object-fit: contain;
}
