*{
  margin: 0px;
}
.App {
  text-align: center;
}
.navbar{
  height: 50px;
}
li{
  list-style-type: none;
  float:left;
  margin-top: 10px;
}
li a{
  padding: 8px;
  color:black;
  text-decoration: none;
}
.navbar button:hover{
  background-color: black;
  color: white;
}
.dropdown ul{
  flex-direction:column;
  background-color: white;
  display: none;
}
.dropdown ul::after{
  display: flex;
}
button{
  padding: 8px;
  margin-top: 5px;
}
.head{
  background-color: rgb(33, 29, 29);
  height: 300px;
}
.head h1{
  text-align: center;
  color: white;
  padding-top: 100px;
}
.head p{
  color:gray;
}
.product-list{
  display: flex;
  flex-wrap: wrap;
  gap:50px;
  margin:75px;
}
.product-container{
  border: 1px solid;
  margin: 30px;
}
.product-image{
  height: 200px;
}
.product-rating{
  margin-top: 2px;
}
.product-price{
  margin-top: 2px;
}
.product-button{
  margin-bottom: 5px;
}
.product-button:hover{
  background-color: black;
  color: white;
}
.footer{
  background-color: rgb(33, 29, 29);
  height: 100px;
}
.footer p{
  color: white;
  padding-top: 50px;
}
